html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Oswald", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

header {
  background-color: #363636;
  border-bottom: 1px solid #ff7d12;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-left .fenix-img {
  margin: 8px 12px 8px 0;
}

header .navbar-left .fenix-img img {
  width: 112px;
  height: 28px;
}

header .navbar-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-left ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-left ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 1.6rem;
  height: 52px;
  font-weight: 700;
  padding: 0 12px;
  background-color: #363636;
}

header .navbar-left ul li a:hover {
  background-color: #292929;
}

header .navbar-left ul li a img {
  width: 28px;
  height: 28px;
}

header .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar-right-button {
  font-size: 1.6rem;
  font-weight: 700;
  height: 38px;
  padding: 5px 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

header .navbar-right .signup {
  background-color: #ff7d12;
  color: #fff;
  margin-right: 12px;
}

header .navbar-right .signin {
  background-color: #f5f5f5;
  color: #363636;
  margin-right: 12px;
}

header .navbar-right-search {
  width: 205px;
  height: 38px;
  padding: 5px 38px 5px 9px;
  border: 1px solid transparent;
  border-radius: 5px 0 0 5px;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #595959;
}

header .navbar-right-search::-webkit-input-placeholder {
  color: #b6bbbb;
}

header .navbar-right-search:-ms-input-placeholder {
  color: #b6bbbb;
}

header .navbar-right-search::-ms-input-placeholder {
  color: #b6bbbb;
}

header .navbar-right-search::placeholder {
  color: #b6bbbb;
}

header .navbar-right .icon {
  background-color: #ff7d12;
  color: #fffde9;
  border-radius: 0 5px 5px 0;
}

.popular-animes {
  background-color: #222222;
  padding-top: 100px;
}

.popular-animes-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff7d12;
  margin-bottom: 10px;
}

.popular-animes-title i {
  color: #f5f5f5;
  font-size: 2.4rem;
  margin: 5px;
}

.popular-animes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.popular-animes-list .anime {
  position: relative;
  cursor: pointer;
}

.popular-animes-list .anime:hover {
  opacity: 0.6;
}

.popular-animes-list .anime:hover .status,
.popular-animes-list .anime:hover .year,
.popular-animes-list .anime:hover .tv,
.popular-animes-list .anime:hover .name {
  display: none;
}

.popular-animes-list .anime-img {
  width: 185.328px;
  height: 265.625px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.popular-animes-list .anime-status {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
}

.popular-animes-list .anime-status .status {
  background-color: #ff7d12;
  border-radius: 5px 0 0 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 6px 9px;
}

.popular-animes-list .anime-status .year {
  background-color: #363636;
  border-radius: 0 5px 0 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 6px 9px;
}

.popular-animes-list .anime-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  bottom: 0;
}

.popular-animes-list .anime-name .tv {
  font-size: 1.2rem;
  font-weight: 900;
  background-color: #ff3860;
  color: #fff;
  padding: 4px 7px;
  margin-right: 6px;
  margin-bottom: -5px;
  border-radius: 3px;
}

.popular-animes-list .anime-name .name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ff7d12;
  width: 173.328px;
  padding: 3px 0;
  border-radius: 2px;
  margin: 6px;
}

.latest-episodes {
  background-color: #222222;
  padding-top: 40px;
}

.latest-episodes-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff7d12;
  margin-bottom: 20px;
}

.latest-episodes-title i {
  color: #f5f5f5;
  font-size: 2.4rem;
  margin: 5px;
}

.latest-episodes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.latest-episodes-list .episode {
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}

.latest-episodes-list .episode:hover .cap,
.latest-episodes-list .episode:hover .name {
  display: none;
}

.latest-episodes-list .episode:hover .episode-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.latest-episodes-list .episode:hover .play {
  padding: 16px;
  text-align: center;
  font-size: 1.6rem;
  position: absolute;
  top: calc(50% - 24px);
  right: calc(50% - 24px);
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}

.latest-episodes-list .episode .img-container {
  width: 266.391px;
  height: 160px;
  overflow: hidden;
}

.latest-episodes-list .episode-img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.latest-episodes-list .episode-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.latest-episodes-list .episode-info .cap {
  background-color: #000;
  color: #ff7d12;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px;
  margin: 10px;
  border-radius: 3px;
}

.latest-episodes-list .episode-info .name {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ff7d12;
  width: 100%;
  padding: 7px 0;
}

.latest-episodes-list .episode .play {
  padding: 16px;
  text-align: center;
  font-size: 1.6rem;
  position: absolute;
  top: calc(50% - 24px);
  right: calc(50% - 24px);
  color: transparent;
  background-color: transparent;
  border-radius: 50%;
}

.latest-animes {
  background-color: #222222;
}

.latest-animes-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ff7d12;
  margin-bottom: 20px;
}

.latest-animes-title i {
  color: #f5f5f5;
  font-size: 2.4rem;
  margin: 5px;
}

.latest-animes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  padding-bottom: 40px;
}

.latest-animes-list .anime {
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
}

.latest-animes-list .anime:hover {
  opacity: 0.6;
}

.latest-animes-list .anime:hover .status,
.latest-animes-list .anime:hover .year,
.latest-animes-list .anime:hover .tv,
.latest-animes-list .anime:hover .movie,
.latest-animes-list .anime:hover .name {
  display: none;
}

.latest-animes-list .anime-img {
  width: 222.391px;
  height: 318.75px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.latest-animes-list .anime-status {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
}

.latest-animes-list .anime-status .status {
  background-color: #ff7d12;
  border-radius: 5px 0 0 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 6px 9px;
}

.latest-animes-list .anime-status .status-movie {
  background-color: transparent;
  border-radius: 5px 0 0 0;
  color: transparent;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 6px 9px;
}

.latest-animes-list .anime-status .year {
  background-color: #363636;
  border-radius: 0 5px 0 0;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
  padding: 6px 9px;
}

.latest-animes-list .anime-name {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  bottom: 5px;
}

.latest-animes-list .anime-name .tv {
  font-size: 1.2rem;
  font-weight: 900;
  background-color: #ff3860;
  color: #fff;
  padding: 4px 7px;
  margin-right: 6px;
  margin-bottom: -4px;
  border-radius: 3px;
}

.latest-animes-list .anime-name .movie {
  font-size: 1.2rem;
  font-weight: 900;
  background-color: #3273dc;
  color: #fff;
  padding: 4px 7px;
  margin-right: 6px;
  margin-bottom: -4px;
  border-radius: 3px;
}

.latest-animes-list .anime-name .name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ff7d12;
  width: 210.391px;
  padding: 3px 0;
  border-radius: 2px;
  margin: 6px;
}

.comments {
  background-color: #222222;
}

.comments-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 2.4rem;
  font-weight: 700;
  color: #f5f5f5;
  margin-bottom: 20px;
}

.comments-title i {
  color: #ff7d12;
  font-size: 2.4rem;
  margin: 5px;
}

.comments-content {
  padding: 0 10px;
}

.comments .more-comments {
  font-size: 1.6rem;
  font-weight: 900;
  width: 100%;
  height: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  margin-bottom: 40px;
  border: none;
  border-radius: 5px;
  background-color: #ff7d12;
  color: #f5f5f5;
  cursor: pointer;
}

.footer {
  background-color: #111111;
  border-top: 1px solid #ff7d12;
}

.footer-content {
  display: flexbox;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 40px 10px;
  margin-bottom: 20px;
  line-height: 22px;
}

.footer-content h3 {
  font-size: 2rem;
  font-weight: 900;
  color: #ff7d12;
}

.footer-content h4 {
  font-size: 1.6rem;
  font-weight: 900;
  color: #f5f5f5;
}

.footer-content h5 {
  font-size: 1.2rem;
  font-weight: 900;
  color: #f5f5f5;
}
/*# sourceMappingURL=styles.css.map */